.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: inline-flex;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #efefef;
  border: solid 2px black;
  border-radius: 5px;
}

.phone {
  max-width: 100%;
  height: auto;
  border: solid 2px black;
  border-radius: 5px;
}
